@model NatzHarmonyCapstone.Models.ViewModels.SingleConversation
@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Messages</h4>
    <hr />
    <table class="table" style="table-layout: fixed">
        @foreach (var item in Model.Messages)
        {
            if (item.Sender.Id == Model.Match.Id)
            {
                <thead style="">
                    <tr stlye=display: flex; justify-content: space-around">
                        <th colspan="2" class="text-center">
                            @Html.DisplayFor(modelItem => item.TimeStamp)
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            @if (item.Sender.AvatarUrl == null)
                            {
                                <img src="~/images/logo2.svg" style="max-height: 75px; max-width: 75px;" />
                            }
                            else
                            {
                                <img src="~/images/@item.Sender.AvatarUrl" style="max-height: 75px; max-width: 75px;" />
                            }
                            @*@Html.DisplayFor(modelItem => item.Sender.FirstName) @Html.DisplayFor(modelItem => item.Sender.LastName)*@
                        </td>
                        <td class="align-middle card text-white bg-secondary">
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                <thead>
                    <tr class="mx-auto">
                        <th colspan="2" class="text-center">
                            @Html.DisplayFor(modelItem => item.TimeStamp)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle card text-white bg-primary">
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @if (item.Sender.AvatarUrl == null)
                            {
                                <img align="right" src="~/images/logo2.svg" style="max-height: 75px; max-width: 75px;" />
                            }
                            else
                            {
                                <img align="right" src="~/images/@item.Sender.AvatarUrl" style="max-height: 75px; max-width: 75px;" />
                            }
                            @*@Html.DisplayFor(modelItem => item.Sender.FirstName) @Html.DisplayFor(modelItem => item.Sender.LastName)*@
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Match.Id" name="RecipientId" class="form-control" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
