@model IEnumerable<NatzHarmonyCapstone.Models.ViewModels.ConversationItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @*<tbody>
        @foreach (var item in Model.Matches)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
          
        </tr>
        }
    </tbody>*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@item.Match.AvatarUrl" style="max-height: 75px; max-width: 75px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.FirstName) @Html.DisplayFor(modelItem => item.Match.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecentMessage.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecentMessage.TimeStamp)
                </td>
            </tr>
        }
    </tbody>
</table>
