@model IEnumerable<NatzHarmonyCapstone.Models.ViewModels.ConversationItem>

@{
    ViewData["Title"] = "Index";
}

<h4>Messages</h4>

<p>
</p>


@foreach (var item in Model)
{
    <div style="margin-bottom: 10px; border-radius: 8px;" class="conversationItem @(item.IsRead == true ? "card text-white bg-primary" : "card text-white bg-warning")">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Match.Id">
                                @if (item.Match.AvatarUrl == null)
                                {
                                    <img src="~/images/logo2.svg" style="max-height: 75px; max-width: 75px;" />
                                }
                                else
                                {
                                    <img src="~/images/@item.Match.AvatarUrl" style="max-height: 75px; max-width: 75px;" />
                                }
                            </a>
                        </td>
                        <td class="@(item.IsRead == true ? "text-warning" : "text-primary") align-middle">
                            @Html.DisplayFor(modelItem => item.Match.FirstName) @Html.DisplayFor(modelItem => item.Match.LastName)
                        </td>
                        <td class="text-white align-middle">
                            @if (@item.RecentMessage.SenderId == item.User.Id)
                            {<p class="align-middle">You: @Html.DisplayFor(modelItem => item.RecentMessage.Content) </p>}
                        else
                        {<p class="align-middle">@Html.DisplayFor(modelItem => item.RecentMessage.Content)</p>}
                        </td>
                        @if (item.RecentMessage.TimeStamp.Year == 0001)
                        {
                            <td>
                            </td>
                        }
                        else
                        {
                            <td class="text-white align-middle">
                                @item.ToString()
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
    </div>
    }

