@model NatzHarmonyCapstone.Models.ViewModels.MatchViewModel

@{
    ViewData["Title"] = "MyMatches";
}

<h1>MyMatches</h1>

<table style="table-layout: fixed; width: 100%" class="table">
    @*<thead>
        <tr>
           
            
            <th>
               
            </th>
            <th colspan="2">
              
            </th>
            <th>
              
            </th>
            <th></th>
        </tr>
    </thead>*@
        @foreach (var item in Model.MatchList)
        {
        <tbody class="card text-white bg-primary" style="border-radius:8px">
            <tr>
                <td rowspan="2">
                    @if (item.AvatarUrl == null)
                    {
                        <img src="~/images/logo2.svg" style="        max-height: 75px; max-width: 75px;" />
                    }
                    else
                    {
                        <img src="~/images/@item.AvatarUrl" style="max-height: 75px; max-width: 75px;" />
                    }
                </td>
                <td colspan="2">
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                
                @*<td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>*@
                
                <td>    
                    <a class="btn btn-outline-secondary" asp-action="Details" name="id" asp-route-returnController="@Model.ReturnController" asp-route-returnAction="@Model.ReturnAction" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="AddMentor" name="id" asp-route-id="@item.Id">Add Mentor</a>
                </td>
            </tr>
            @*<tr>

            </tr>*@
        </tbody>
        }
</table>
